body {
    font-family: Verdana, sans-serif;
    color: #333;
}
h1 {
    color: #800020;
    text-align: center;
    text-decoration: underline;
}
a {
    color: #800080;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    
}